In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\StanleyChan\Downloads\jack_test.csv")

In [2]:
df

         type  working_hrs  contract_hrs emp_id  job_id
0  contractor            1           NaN      c       1
1  contractor           10           NaN      c       2
2  contractor          111           NaN      d       3
3    employee            5          35.0      a       4
4    employee           10          35.0      a       5
5    employee           25          35.0      b       6

In [14]:
df_dict = df.to_dict()
df_dict.keys
print(df_dict.keys())

dict_keys(['type', 'working_hrs', 'contract_hrs', 'emp_id', 'job_id'])

In [11]:
for k,v in df_dict.items():
    print(k)
    print(v)
    query = f"select {k} from table_test"
    print(query)

type
{0: 'contractor', 1: 'contractor', 2: 'contractor', 3: 'employee', 4: 'employee', 5: 'employee'}
select type from table_test
working_hrs
{0: 1, 1: 10, 2: 111, 3: 5, 4: 10, 5: 25}
select working_hrs from table_test
contract_hrs
{0: nan, 1: nan, 2: nan, 3: 35.0, 4: 35.0, 5: 35.0}
select contract_hrs from table_test
emp_id
{0: 'c', 1: 'c', 2: 'd', 3: 'a', 4: 'a', 5: 'b'}
select emp_id from table_test
job_id
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}
select job_id from table_test