In [1]:
from sqlalchemy import create_engine
import csv
import pandas as pd
import logging

In [2]:
# Define your database connection string (replace 'username', 'password', 'host', 'port', 'database' with your actual credentials)
connection_string = 'postgresql://airflow:airflow@localhost:5432/test'
file_path = r"C:\Users\StanleyChan\SynologyDrive\Work Backup\my document\Test\get_row.txt"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)


###### Cursor method
conn = engine.raw_connection()

In [3]:

###### pd to DB method
df = pd.read_csv(file_path)
df.to_sql('tbl_name', con=engine, index=True, if_exists='replace')

10

In [4]:
####### DB to pd method
df = pd.read_sql('select * from tbl_name', con=engine)
df

   index          dt                          dag_id
0      0  2024-03-10  dag_with_postgres_operator_v03
1      1  2024-03-11  dag_with_postgres_operator_v03
2      2  2024-03-15  dag_with_postgres_operator_v03
3      3  2024-03-13  dag_with_postgres_operator_v03
4      4  2024-03-16  dag_with_postgres_operator_v03
5      5  2024-03-12  dag_with_postgres_operator_v03
6      6  2024-03-14  dag_with_postgres_operator_v03
7      7  2024-03-17  dag_with_postgres_operator_v03
8      8  2024-03-18  dag_with_postgres_operator_v03
9      9  2024-03-19  dag_with_postgres_operator_v03