In [59]:
import pyodbc
import pandas as pd
import os
from dotenv import load_dotenv

True

In [67]:
load_dotenv()

uid = os.getenv('uid')
pwd = os.getenv('pwd')
driver = os.getenv('driver')
server = os.getenv('server')
database = os.getenv('database')

print(uid)

til1

In [69]:
src_conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';DATABASE=' + database + ';UID=' + uid + ';PWD=' + pwd)
src_cursor = src_conn.cursor()

# execute query
src_cursor.execute(""" select  t.name as table_name
from sys.tables t """)
src_tables = src_cursor.fetchall()

print(src_tables)

[('SalesTaxRate',), ('PersonCreditCard',), ('PersonPhone',), ('SalesTerritory',), ('PhoneNumberType',), ('Product',), ('SalesTerritoryHistory',), ('ScrapReason',), ('Shift',), ('ProductCategory',), ('ShipMethod',), ('ProductCostHistory',), ('ProductDescription',), ('ShoppingCartItem',), ('ProductDocument',), ('DatabaseLog',), ('ProductInventory',), ('SpecialOffer',), ('ErrorLog',), ('ProductListPriceHistory',), ('Address',), ('SpecialOfferProduct',), ('ProductModel',), ('AddressType',), ('StateProvince',), ('ProductModelIllustration',), ('AWBuildVersion',), ('ProductModelProductDescriptionCulture',), ('BillOfMaterials',), ('Store',), ('ProductPhoto',), ('ProductProductPhoto',), ('TransactionHistory',), ('ProductReview',), ('BusinessEntity',), ('TransactionHistoryArchive',), ('ProductSubcategory',), ('BusinessEntityAddress',), ('ProductVendor',), ('BusinessEntityContact',), ('UnitMeasure',), ('Vendor',), ('ContactType',), ('CountryRegionCurrency',), ('CountryRegion',), ('WorkOrder',), ('PurchaseOrderDetail',), ('CreditCard',), ('Culture',), ('WorkOrderRouting',), ('Currency',), ('PurchaseOrderHeader',), ('CurrencyRate',), ('Customer',), ('Department',), ('Document',), ('SalesOrderDetail',), ('EmailAddress',), ('Employee',), ('OLE DB Destination',), ('SalesOrderHeader',), ('EmployeeDepartmentHistory',), ('EmployeePayHistory',), ('SalesOrderHeaderSalesReason',), ('SalesPerson',), ('Illustration',), ('JobCandidate',), ('Location',), ('Password',), ('SalesPersonQuotaHistory',), ('Person',), ('SalesReason',)]

In [34]:
def extract():
    try:
        src_conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';DATABASE=' + database + ';UID=' + uid + ';PWD=' + pwd)
        src_cursor = src_conn.cursor()

        # execute query
        src_cursor.execute(""" select  t.name as table_name
        from sys.tables t """)
        src_tables = src_cursor.fetchall()

        for tbl in src_tables:
            #query and load save data to dataframe
            df = pd.read_sql_query(f'select * FROM {tbl[0]}', src_conn)
            df
            
    except Exception as e:
        print("Data extract error: " + str(e))
    finally:
        src_conn.close()


def load(df, tbl):
    try:
        rows_imported = 0
        engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:5432/AdventureWorks')
        print(f'importing rows {rows_imported} to {rows_imported + len(df)}... for table {tbl}')
        
        # save df to postgres
        df.to_sql(f'stg_{tbl}', engine, if_exists='replace', index=False)
        rows_imported += len(df)
        
        # add elapsed time to final print out
        print("Data imported successful")
        
    except Exception as e:
        print("Data load error: " + str(e))

Data extract error: Execution failed on sql 'select * FROM SalesTaxRate': ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'SalesTaxRate'. (208) (SQLExecDirectW)")

C:\Users\StanleyChan\AppData\Local\Temp\ipykernel_31592\3406484067.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'select * FROM {tbl[0]}', src_conn)

In [23]:
df = pd.read_sql_query(f'select * FROM Sales.{src_tables[1][0]}', src_conn)
df

C:\Users\StanleyChan\AppData\Local\Temp\ipykernel_31592\3960989346.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'select * FROM Sales.{src_tables[1][0]}', src_conn)

       BusinessEntityID  CreditCardID ModifiedDate
0                   293         17038   2013-07-31
1                   295         15369   2011-08-01
2                   297          8010   2011-08-01
3                   299          5316   2013-07-31
4                   301          6653   2011-05-31
...                 ...           ...          ...
19113             20773         16305   2014-03-19
19114             20774         16309   2013-07-29
19115             20775         16317   2014-03-12
19116             20776         16347   2014-01-14
19117             20777         16363   2013-10-16

[19118 rows x 3 columns]